$themeColor: #f4ab3e;
$secondColor: #f9eab4;
$thirdColor: #ffffff;
$fourthColor: #d3d0d0;
$fifthColor: #957443;
$sixthColor: #231704;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  color: $sixthColor;
}

html,
body {
  height: 100%;
}
body {
  background-color: $thirdColor;
}
.container {
  margin: auto;
  padding: 0px;
  header {
    margin-top: auto;
    .title {
      color: $sixthColor;
      width: 300px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: auto;
      padding-top: 20px;
    }
  }
  main {
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    .gameBox {
      width: 300px;
      margin: 15px;
      .gameImg1,
      .gameImg2,
      .gameImg3 {
        height: 80px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .btnStart {
      margin: 10px;
      background-color: $secondColor;      
      width: 160px;
      height: 50px;
      .titleText {
        color: $sixthColor;
        justify-content: center;
        text-align: center;
        margin: auto;
      }
    }
  }
}
